body {
	font-family: "メイリオ";
	font-size: 20px;
}

ul {
	margin: 0px;
}

.tab {
	overflow: hidden;
}

.tab li {
	background: #ccc;
	padding: 5px 25px;
	float: left;
	margin-right: 1px;
	list-style: none;
	cursor: pointer;
}

.tab li.select {
	background: #eee;
}

.content li {
	background: #eee;
	padding: 20px;
	list-style: none;
	width: 1100px;
}

.content table {
	border-collapse: collapse;
}

.content td {
	border-top: 1px silver solid;
	border-bottom: 1px silver solid;
	border-collapse: collapse;
	padding: 10px 20px;
}

.content .function input {
	width: 18px;
	height: 18px;
}

.content .sms input {
	width: 18px;
	height: 18px;
}

.content .time input {
	width: 22px;
	height: 20px;
	font-family: "メイリオ";
	font-size: 18px;
}

.hide {
	display: none;
}

.arrow_box {
	display: none;
	position: absolute;
	padding: 16px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: yellow;
	color: black;
	opacity: 0.8;
	font-size: 15px;
}

.arrow_box:after {
	position: absolute;
	bottom: 100%;
	left: 10%;
	width: 0;
	height: 0;
	margin-left: -10px;
	border: solid transparent;
	border-color: rgba(51, 51, 51, 0);
	border-bottom-color: yellow;
	border-width: 10px;
	pointer-events: none;
	content: " ";
	opacity: 0.8;
}
