body {
	font-family: "メイリオ";
	font-size: 20px;
}

ul {
	margin: 0px;
}

.tab {
	overflow: hidden;
}

.tab li {
	background: #ccc;
	padding: 5px 25px;
	float: left;
	margin-right: 1px;
	list-style: none;
	cursor: pointer;
}

.tab li.select {
	background: #eee;
}

.content li {
	background: #eee;
	padding: 20px;
	list-style: none;
	width: 1000px;
}

.content table {
	border-collapse: collapse;
}

.content td {
	border-top: 1px silver solid;
	border-bottom: 1px silver solid;
	border-collapse: collapse;
	padding: 10px 20px;
}

.content .function input {
	width: 18px;
	height: 18px;
}

.content .sms input {
	width: 18px;
	height: 18px;
}

.content .time input {
	width: 22px;
	height: 20px;
	font-family: "メイリオ";
	font-size: 18px;
}

.hide {
	display: none;
}
